In [1]:
import numpy as np
import pandas as pd

import sentencepiece as spm

import importlib
import utils
importlib.reload(utils)

from utils import product_info

In [2]:
"""import sentencepiece as spm
sentencepiece_path = '/Users/razydave/intern/tasks/prep/1111_dataset/tugstugi_and_others/mongolian_bert_sentencepiece/'

sp = spm.SentencePieceProcessor()
sp.Load(sentencepiece_path + 'mn_uncased.model')

def sp_tokenize(w):
    return sp.EncodeAsPieces(w)"""

"import sentencepiece as spm\nsentencepiece_path = '/Users/razydave/intern/tasks/prep/1111_dataset/tugstugi_and_others/mongolian_bert_sentencepiece/'\n\nsp = spm.SentencePieceProcessor()\nsp.Load(sentencepiece_path + 'mn_uncased.model')\n\ndef sp_tokenize(w):\n    return sp.EncodeAsPieces(w)"

In [3]:
"""sample  = 'Орон:B-loan сууцын:I-loan зээл:O авахад:B-condition бүрдүүлэх:I-condition материал:I-condition талаар:O мэдээлэл:O авмаар:O байна:O <=> product_conditions'

intent = sample.split('<=>')[1].strip()
slot = [pair.split(':')[1] for pair in sample.split('<=>')[0].strip().split()]
tokens = sp_tokenize(' '.join([pair.split(':')[0] for pair in sample.split('<=>')[0].strip().lower().split()]))

print('Intent:', intent)
for idx in range(len(slot)):
    print(tokens[idx] + ' ' + slot[idx])"""

"sample  = 'Орон:B-loan сууцын:I-loan зээл:O авахад:B-condition бүрдүүлэх:I-condition материал:I-condition талаар:O мэдээлэл:O авмаар:O байна:O <=> product_conditions'\n\nintent = sample.split('<=>')[1].strip()\nslot = [pair.split(':')[1] for pair in sample.split('<=>')[0].strip().split()]\ntokens = sp_tokenize(' '.join([pair.split(':')[0] for pair in sample.split('<=>')[0].strip().lower().split()]))\n\nprint('Intent:', intent)\nfor idx in range(len(slot)):\n    print(tokens[idx] + ' ' + slot[idx])"

# TO DO:

1. Make scraper for digital bank, insurance and foreign exchange 
2. Make scraper for:
    - Иргэд мэдээ, мэдээлэл
    - Байгууллага related news and info
    - About bank

In [4]:
depo = [
    'depo',
    ['үндэсний хуримтлалын хөтөлбөр', 'алтантүлхүүр хадгаламж','энгийн хугацаатай хадгаламж', 
     'хадгаламжын сертификат', 'орлого авдаггүй хугацаатай хадгаламж', 'уян хадгаламж', 'хүүхдийн мөнгө хадгаламж',
     'гадаадад оршин суугаа харилцагчдад зориулсан хадгаламж', 'урьдчилсан хүүт хугацаатай хадгаламж',
     'хугацаагүй хадгаламж жилээр', 'хугацаагүй хадгаламж сараар', 'урьдчилсан хүүт хугацаагүй хадгаламж',
     'хадгаламжын хайрцаг', 'гибрид хадгаламж', 'жуниор багц', 'малчны багц бүтээгдэхүүн'],
    ['https://golomtbank.com/savings/2047', # Хугацаатай хадгаламж
     'https://golomtbank.com/savings/440',
     'https://golomtbank.com/savings/415',
     'https://golomtbank.com/savings/2069',
     'https://golomtbank.com/savings/2072',
     'https://golomtbank.com/savings/421',
     'https://golomtbank.com/savings/244',
     'https://golomtbank.com/savings/3661',
     'https://golomtbank.com/savings/2081',
     'https://golomtbank.com/savings/3764', # Хугацаагүй хадгаламж
     'https://golomtbank.com/savings/10911',
     'https://golomtbank.com/savings/2079',
     'https://golomtbank.com/savings/10590', # Нэмэлт үйлчилгээ
     'https://golomtbank.com/savings/21573',
     'https://golomtbank.com/savings/16519', # Багц бүтээгдэхүүн
     'https://golomtbank.com/savings/19349']]
account = [
    'account',
    ['Иргэдийн харилцах', 'Цалингийн харилцах', 'Хүүхдийн мөнгө харилцах', 'Дебит картын харилцах'],
    ['https://golomtbank.com/account/412',
     'https://golomtbank.com/account/410',
     'https://golomtbank.com/account/408',
     'https://golomtbank.com/account/406']]

digital_bank = [
    'digital_bank',
    ['интернет банк', 'смарт банк', 'сошиал пей', 'мобайл банк', 'ийзи инфо', 'онлайн бүртгэл'],
    ['https://golomtbank.com/retail/digital-bank/internet-bank',
     'https://golomtbank.com/retail/digital-bank/smart-bank',
     'https://golomtbank.com/retail/digital-bank/socialpay',
     'https://golomtbank.com/retail/digital-bank/mobile-bank',
     'https://golomtbank.com/retail/digital-bank/easy-info',
     'https://golomtbank.com/retail/digital-bank/online-registration']]
loan = [
    'loan',
    ['зургаан хувийн хүүтэй орон сууцны зээл', 'голомт банкны орон сууцны зээл', 'ногоон зээл эрчим хүчний хэмнэлттэй амины орон сууцны зээл',
     'амины орон сууц худалдан авах зээл', 'хувийн сууц худалдан авах зээл', 'тансаг орон сууц худалдаж авах зээл',
     'амины орон сууц барьж дуусгах зээл', 'хадгаламж барьцаалсан зээл', 'хэрэглээний зээл', 'малчны зээл',
     'тохижилтын зээл', 'тэтгэврийн зээл', 'тийзний зээл', 'цалингийн зээл', 'автомашины зээл', 'дижитал зээл',
     'пос ын орлого барьцаалсан зээл', 'эргэлтийн хөрөнгийн зээл', 'хөрөнгө оруулалтын зээл', 'жижиглэн худалдааны зээл',
     'худалдаа үйлчилгээний талбайн зээл', 'оффисын зээл', 'ажлын байрыг дэмжих зээл', 'бизнес эрхлэгч эмэгтэйчүүдийг дэмжих зээл',
     'лэндаханд бичил ждб ийг дэмжих төслийн зээл'],
    ['https://golomtbank.com/loans/784', # Орон сууцны зээл
     'https://golomtbank.com/loans/404',
     'https://golomtbank.com/loans/18983',
     'https://golomtbank.com/loans/786',
     'https://golomtbank.com/loans/788',
     'https://golomtbank.com/loans/790',
     'https://golomtbank.com/loans/792',
     'https://golomtbank.com/loans/797', # Хэрэглээний зээл
     'https://golomtbank.com/loans/6488',
     'https://golomtbank.com/loans/19376',
     'https://golomtbank.com/loans/801',
     'https://golomtbank.com/loans/6472',
     'https://golomtbank.com/loans/6476',
     'https://golomtbank.com/loans/400',
     'https://golomtbank.com/loans/845',
     'https://golomtbank.com/loans/397',
     'https://golomtbank.com/loans/6542', # Бизнесийн зээл
     'https://golomtbank.com/loans/807',
     'https://golomtbank.com/loans/807',
     'https://golomtbank.com/loans/815',
     'https://golomtbank.com/loans/809',
     'https://golomtbank.com/loans/817',
     'https://golomtbank.com/loans/14016',
     'https://golomtbank.com/loans/17555',
     'https://golomtbank.com/loans/19705',
     'https://golomtbank.com/loans/805' # Төслийн зээл
    ]]
card = [
    'card',
    ['зэс кредит карт', 'ган кредит карт', 'алтан кредит карт', 'американ экспресс ногоон карт', 
     'американ экспресс алтан карт', 'платинум виза карт', 'колор карт', 'оюу карт', 'сувд карт', 'карбон карт',
     'алтан дебит карт', 'американ экспресс рэвардс карт', 'премьер вип дебит карт', 'пос мерчант', 'и мерчант'],
    ['https://golomtbank.com/cards/4896', # Кредит карт
     'https://golomtbank.com/cards/168',
     'https://golomtbank.com/cards/167',
     'https://golomtbank.com/cards/720',
     'https://golomtbank.com/cards/165',
     'https://golomtbank.com/cards/7044',
     'https://golomtbank.com/cards/730', # Дебит карт
     'https://golomtbank.com/cards/728',
     'https://golomtbank.com/cards/3800',
     'https://golomtbank.com/cards/3798',
     'https://golomtbank.com/cards/726',
     'https://golomtbank.com/cards/13366',
     'https://golomtbank.com/cards/19233',
     'https://golomtbank.com/cards/3757', # Картаар үйлчлэгч байгууллага
     'https://golomtbank.com/cards/3749']]
insurance = [
    'insurance',
    ['ипотекийн даатгал', 'тээврийн хэрэгслийн даатгал', 'цалингийн зээлдэгчийн гэнэтийн ослын даатгал',
     'хөрөнгийн даатгал', 'хүнд болон тусгай зориулалтын машин механизмын даатгал', 'аяллын даатгал', 'гэнэтийн ослын даатгал'],
    ['https://golomtbank.com/insurance/428', # Зээлтэй холбоотой даатгал
     'https://golomtbank.com/insurance/426',
     'https://golomtbank.com/insurance/419',
     'https://golomtbank.com/insurance/417',
     'https://golomtbank.com/insurance/414',
     'https://golomtbank.com/insurance/4118', # Сайн дурын даатгал
     'https://golomtbank.com/insurance/430']]
foreign_exchange = [
    'foreign_exchange',
    ['валют арилжаа', 'вестерн юнион', 'гадаад гуйвуулга', 'корреспондент банкууд'],
    ['https://golomtbank.com/remittance/8134',
     'https://golomtbank.com/remittance/4315',
     'https://golomtbank.com/remittance/1439',
     'https://golomtbank.com/remittance/4314']]

In [5]:
import pickle

product_names = [depo[1], account[1], card[1], loan[1]]

with open('knowledge_base/product_names.pickle', 'wb') as handle:
    pickle.dump(product_names, handle, protocol = pickle.HIGHEST_PROTOCOL)

In [6]:
def return_info(linkie, product):
    # Get product info
    product_name, about_product, temp_1, temp_2, required_materials, dfs = product_info(linkie, product)
    
    # Print some basic info such as product name and about product
    print('Number of tables on this product:', len(dfs), '\n')
    print(product_name + ': ' + about_product)

    for temp in [temp_1, temp_2]:
        if len(temp):
            print(temp)
            
    # Display tables with product info
    if len(dfs):
        print('\n', 'Tables on this product:')
        
        for df in dfs:
            display(df)

# Product: depo

In [7]:
linkie = depo[2][0]
product = depo[0]

return_info(linkie, product)

Number of tables on this product: 3

Үндэсний хуримтлалын хөтөлбөр: 12 сарын турш сар бүр тодорхой дүнгээр орлогоо тасралтгүй хийж чадсан тохиолдолд хамгийн өндөр хүүний урамшууллыг танд олгоно.
Жилийн хүү: 4.50% + Урамшуулал

 Tables on this product:

,col_1,col_2
0,Данс нээх доод үлдэгдэл,"10,000 төгрөг"
1,Хүү,4.50% + Урамшуулал /Сар бүр хуримтлуулбал/
2,Хугацаа,Зорилтот мөнгөн дүндээ хүртэл жил бүр автомата...
3,Хүү олгох өдөр,Данс нээснээс хойш 12 дахь сар бүрийн эцэст
4,Зарлага гаргах боломж,Хүү орсон өдрөөс хойш 5 хоногт багтаан данснаа...
5,Гэрээг цуцлах үед бодогдох хүү*,2.40%

,col_1,col_2
0,Данс нээхэд,Шимтгэлгүй
1,Шинээр данс нээх дэвтрийн үнэ,Үнэгүй
2,Хадгаламжийн дэвтрийн бичилт дуусаад солих,Үнэгүй
3,"Хадгаламжийн дэвтэр хаясан, гээсэн тохиолдолд ...","3,000 төгрөг"
4,Данс хаахад,"Дижитал сувгаар: 1,000 төгрөг /тэнцэх валют/ С..."
5,Бэлэн орлого,Шимтгэлгүй
6,Бэлэн бус орлого,Шимтгэлгүй
7,Бэлэн зарлага /салбараас/,200 төгрөг
8,Бэлэн бус зарлага,"Голомт банк дотор-100 төгрөг Банк хооронд: 3,0..."

,col_1,col_2,col_3,col_4,col_5
0,Сар бүр хийх орлогын дүн,Таны хуримтлал 12 сарын дараа,ХҮҮ* /жилийн 4.50%/,Урамшуулал /тогтмол дүнгээр/,Нийт
1,"20,000₮","240,000₮","5,849₮","7,800₮","253,649₮"
2,"50,000₮","600,000₮","14,622₮","19,500₮","634,122₮"
3,"100,000₮","1,200,000₮","29,244₮","39,000₮","1,268,244₮"
4,"200,000₮","2,400,000₮","58,488₮","78,000₮","2,536,488₮"
5,"300,000₮","3,600,000₮","87,732₮","117,000₮","3,804,732₮"
6,"500,000₮","6,000,000₮","146,219₮","195,000₮","6,341,219₮"
7,"1,000,000₮","12,000,000₮","292,438₮","390,000₮","12,682,438₮"

# Building knowledge base

In [8]:
import json

products = [depo[0], account[0], card[0], loan[0]]
product_links = [depo[2], account[2], card[2], loan[2]]

for i in range(len(products)):
    knowledge_base = []
    product = products[i]
    linkie = product_links[i]
    
    for link in linkie:
        product_name, about_product, temp_1, temp_2, required_materials, dfs = product_info(link, product)

        for idx in range(len(dfs)):
            dfs[idx] = dfs[idx].to_dict()

        dfs.insert(0, {'product_name': product_name, 
                       'about_product': about_product, 
                       'required_materials': required_materials,
                       'additional_info': [temp_1, temp_2]})    
        knowledge_base.append(dfs)
        
        
        
        file_save_name = 'knowledge_base/' + product + '.json'
        
    with open(file_save_name.format(1), 'w', encoding = 'utf-8') as file:
        json.dump(knowledge_base, file, ensure_ascii = False, indent = 4)
        
    print(f'Number of {product} products:', len(knowledge_base))

Number of depo products: 16
Number of account products: 4
Number of card products: 15
Number of loan products: 26